/* This CSS property applies to all elements in the document, setting the box-sizing to border-box, padding and margin to 0. */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

/* Sets the background color of the body element to a light gray. */
body {
    background-color: #d9dcd6;
}

/* Styles for the header section. Sets padding, font family, background color, and text color. */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* Styles for the h1 element within the header. Sets display to inline-block and font size to 48px. */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* Styles for the .seo class within the h1 element in the header. Sets text color to light gray. */
.header h1 .seo {
    color: #d9dcd6;
}

/* Styles for the navigation within the header. Sets padding, margin, float, font family, and font size. */
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Styles for the unordered list within the navigation. Removes bullets from list items. */
.header nav ul {
    list-style-type: none;
}

/* Styles for list items within the unordered list in the navigation. Sets display to inline-block and adds margin to the left. */
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* Styles for all links. Sets color to white and removes underlines. */
a {
    color: #ffffff;
    text-decoration: none;
}

/* Styles for all paragraphs. Sets font size to 16px. */
p {
    font-size: 16px;
}

/* Styles for the hero section. Sets height, width, margin-bottom, background image, size, and position. */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Styles for floating elements to the left. Sets float to left and margin to the right. */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Styles for floating elements to the right. Sets float to right and margin to the left. */
.float-right {
    float: right;
    margin-left: 25px;
}

/* Styles for the content section. Sets width, display, and margin to the left. */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* Styles for the benefits section. Sets margin, padding, clear, float, width, height, font family, background color, and text color. */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* styles for benefits section */
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Styles for service sections */
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* Styles for service section images, setting the max heights to 200px */
.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Styles for service section headings, by setting the margin towards the bottom and the font-sizes */
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* Styles for footer section */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* Styles for footer section heading, I changed it from h3 to h4 to match the semantic changes in the html file, it is setting the font of the h4 text at the footer to 20px */
.footer h4 {
    font-size: 20px;
} 